<div class="w-full min-h-dvh">
  
  <!-- //////////////////////////////////////////////////////// -->
  <div class="max-w-dvw p-5 flex flex-col gap-2 ">
    <!-- /////////////////////////////// -->
    <!-- service -->
    <div class=" flex flex-col gap-5 w-full mt-2">
      <div class="flex flex-col items-center gap-1.75">
        <h3 class="text-[#e0b69d] text-bold  text-[14px] lg:text-[18px]">خدمات ما</h3>
        <h2 class="text-[#272523] text-[18px] lg:text-[24px]">خدمات تخصصی سالن زیبایی</h2>
        <p class="text-[#aeaba9] text-[12px] lg:text-[14px] text-center">با استفاده از بهترین متدها ومحصولات،زیبایی
          شما
          را
          دو چندان می کنیم.</p>
      </div>
      <div class="w-full  flex md:gap-3 xl:justify-center overflow-x-auto scrollbar-none relative ">

        <div
          class="shrink-0 w-[35%] md:w-[25%] lg:w-[18%] xl:w-[13.5%] cursor-pointer flex flex-col items-center gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/hair_cut.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] md:text-[14px]">کوتاهی و حالت دهی مو</h2>
          <p class="hidden md:block text-[12px] text-[#a59f9c] text-wrap w-[80%] line-clamp-2 text-center">کوتاهی و
            حالت‌دهی حرفه‌ای
            متناسب با فرم چهره و جدیدترین ترندهای روز</p>
          <p class="hidden md:block text-[#cfab98] text-[12px]">
            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%] lg:w-[18%] xl:w-[13.5%] cursor-pointer flex flex-col items-center gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/color_hair.webp" alt="" class="w-full  lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] md:text-[14px]">رنگ و مش</h2>
          <p class=" hidden md:block  text-[12px] text-[#a59f9c] text-wrap  w-[80%] line-clamp-2 text-center">انواع
            رنگ،
            مش، هایلایت و
            بالیاژ با جدیدترین تکنیک‌های روز دنیا</p>
          <p class="text-[#cfab98] text-[12px] hidden md:block ">

            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%]  justify-center lg:w-[18%] xl:w-[13.5%] cursor-pointer  flex flex-col items-center  gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/trapi_hair.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] md:text-[14px]">تراپی و احیا</h2>
          <p class="hidden md:block  text-[12px] text-[#a59f9c] text-wrap  w-[70%] line-clamp-2 text-center">احیا و
            ترمیم موهای آسیب‌دیده
            با تکنیک‌های تخصصی</p>
          <p class="text-[#cfab98] text-[12px] hidden md:block ">
            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%] lg:w-[18%] xl:w-[13.5%] cursor-pointer flex flex-col items-center gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/chignon.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] md:text-[14px]">میکاپ حرفه ای</h2>
          <p class="hidden md:flex  text-[12px] text-[#a59f9c] text-wrap w-[80%] line-clamp-2 text-center">میکاپ
            حرفه‌ای
            و متناسب با فرم
            چهره، برای زیبایی ماندگار در هر مناسبت</p>
          <p class="hidden md:block text-[#cfab98] text-[12px]">
            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%]  justify-center lg:w-[18%] xl:w-[13.5%] cursor-pointer  flex flex-col items-center  gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/nail-icon.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40 ">
          <h2 class=" lg:text-[#29201a] text-[10px] md:text-[14px]">خدمات ناخن</h2>
          <p class="hidden md:block text-[12px] text-[#a59f9c] text-wrap w-[80%] line-clamp-2  text-center">انواع
            خدمات
            کاشت، ترمیم و
            طراحی ناخن با جدیدترین مدل‌های روز دنیا</p>
          <p class="text-[#cfab98] text-[12px] hidden md:block items-center ">
            مشاهده بیشتر

            <i class="fa-solid fa-arrow-left text-[10px]"></i>

          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%] lg:w-[18%] xl:w-[13.5%] cursor-pointer flex flex-col items-center gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/ebro.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] lg:text-[14px]">خدمات ابرو</h2>
          <p class="hidden md:block text-[12px] text-[#a59f9c] text-wrap w-[80%] line-clamp-2 text-center">فرم‌دهی و
            زیباسازی ابرو
            متناسب
            با فرم چهره با جدیدترین تکنیک‌های روز دنیا</p>
          <p class="text-[#cfab98] text-[12px] hidden md:block">
            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>
        <div
          class="shrink-0 w-[35%] md:w-[25%] lg:w-[18%] xl:w-[13.5%] cursor-pointer flex flex-col items-center gap-1 md:border border-[#a59f9c]/50 rounded-[5px] py-4">
          <img src="img/servicebaber/skin_icon.webp" alt="" class="w-full lg:w-[80%] object-cover max-w-40">
          <h2 class=" lg:text-[#29201a] text-[10px] lg:text-[14px]">پوست و صورت</h2>
          <p class="hidden md:block text-[12px] text-[#a59f9c] text-wrap w-[80%] line-clamp-2 text-center">پاکسازی و
            مراقبت تخصصی از
            پوست
            برای داشتن پوستی شفاف، سالم و شاداب</p>
          <p class="hidden md:block text-[#cfab98] text-[12px]">
            مشاهده بیشتر
            <i class="fa-solid fa-arrow-left text-[10px]"></i>
          </p>
        </div>

      </div>

    </div>
    <!-- /////////////////////////////////////////// -->
    <div class="text-center text-[12px] text-[#b2847f] lg:hidden">مشاهده بیشتر خدمات
      <i class="fa-solid fa-arrow-left text-[10px]"></i>
    </div>
    <div class="bg-[#b28884] w-full flex justify-between md:hidden  rounded-[5px] pe-3 ">
      <div class="w-[50%] flex justify-center">
        <img src="img/babershop_two.png" alt="" class="w-full object-cover">
      </div>
      <div class="text-[#fefefe] flex flex-col justify-center gap-3 py-2">
        <h3 class="text-[18px]">تخفیف های ویژه</h3>
        <p class="text-[12px] text-[#e0dada]">تا20% تخفیف برای خدمات منتخب</p>
        <button class="text-[#b28884] text-[12px] bg-[#fefefe] p-2 rounded-[5px] ">مشاهده تخفیف</button>
      </div>

    </div>

    <!-- /////////////////////////////////////////////// -->
    <div class="hidden max-w-full  lg:grid lg:grid-cols-2 gap-3 md:flex md:flex-col ">
      <div class="bg-[#faf1ea] rounded-[5px] flex flex-col p-3  gap-5 shrink-0 w-full ">
        <div class="flex flex-col items-center gap-1.75">
          <h3 class="text-[#e0b69d] text-bold  lg:text-[16px]">پیشنهاد ویژه</h3>
          <h2 class="text-[#272523] text-[20px] lg:text-[20px]">تخفیف های این ماه</h2>
          <p class="text-[#aeaba9] text-[12px] lg:text-[14px] text-center">از تخفیف ویژه های ومحدود ما بهره مند شوید.
          </p>
        </div>
        <div class="flex justify-center">
          <div class=" w-[96%] flex flex-col gap-3">
            <div class="grid grid-cols-[1fr_3fr_1fr] w-full items-center rounded-[5px] text-[#d89d71]  bg-[#fefefe] ">
              <div
                class="text-[14px] lg:text-[20px] text_descount flex flex-col p-2  items-center justify-center font-bold">
                <h1 class=" text_descount ">20%</h1>
                <p>تخفیف</p>
              </div>
              <p class="text-[#1a1918] text-[13px] md:text-[16px] ms-5 ">رنگ مو و کوتاهی</p>
              <button
                class=" transform border rounded-[5px] py-1.5 me-2 cursor-pointer hover:bg-[#d89d71] hover:text-[#fefefe] transition duration-300 text-[12px] md:text-[16px]">مشاهده</button>
            </div>
            <div class="grid grid-cols-[1fr_3fr_1fr] w-full items-center rounded-[5px] text-[#d89d71]  bg-[#fefefe] ">
              <div
                class="text-[14px] lg:text-[20px] text_descount flex flex-col p-2  items-center justify-center font-bold">
                <h1 class=" text_descount ">20%</h1>
                <p>تخفیف</p>
              </div>
              <p class="text-[#1a1918] text-[13px] md:text-[16px] ms-5 ">رنگ مو و کوتاهی</p>
              <button
                class=" transform border rounded-[5px] py-1.5 me-2 cursor-pointer hover:bg-[#d89d71] hover:text-[#fefefe] transition duration-300 text-[12px] md:text-[16px]">مشاهده</button>
            </div>
            <div class="grid grid-cols-[1fr_3fr_1fr] w-full items-center rounded-[5px] text-[#d89d71]  bg-[#fefefe] ">
              <div
                class="text-[14px] lg:text-[20px] text_descount flex flex-col p-2  items-center justify-center font-bold">
                <h1 class=" text_descount ">20%</h1>
                <p>تخفیف</p>
              </div>
              <p class="text-[#1a1918] text-[13px] md:text-[16px] ms-5 ">رنگ مو و کوتاهی</p>
              <button
                class=" transform border rounded-[5px] py-1.5 me-2 cursor-pointer hover:bg-[#d89d71] hover:text-[#fefefe] transition duration-300 text-[12px] md:text-[16px]">مشاهده</button>
            </div>
            <div class="grid grid-cols-[1fr_3fr_1fr] w-full items-center rounded-[5px] text-[#d89d71]  bg-[#fefefe] ">
              <div
                class="text-[14px] lg:text-[20px] text_descount flex flex-col p-2  items-center justify-center font-bold">
                <h1 class=" text_descount ">20%</h1>
                <p>تخفیف</p>
              </div>
              <p class="text-[#1a1918] text-[13px] md:text-[16px] ms-5 ">رنگ مو و کوتاهی</p>
              <button
                class=" transform border rounded-[5px] py-1.5 me-2 cursor-pointer hover:bg-[#d89d71] hover:text-[#fefefe] transition duration-300 text-[12px] md:text-[16px]">مشاهده</button>
            </div>
          </div>
        </div>
        <div class="flex justify-center text-[10px] md:text-[18px]">
          <button
            class="transform bg-[#a5625c]  p-3 rounded-[5px] text-[#f4c3b9] outline-none cursor-pointer hover:scale-[1.05] transition-transform duration-300 text-[14px] md:text-[16px]">مشاهده
            همه تخفیف ها</button>
        </div>
      </div>

      <!-- ///////////// -->
      <div
        class="mt-4 lg:mt-0 bg-[#faf1ea] lg:justify-center rounded-[5px] p-3 flex  gap-5 shrink-0 w-full flex-col lg:flex-row ">
        <img src="img/baberShop.jpg" alt="babershop" class="lg:w-[50%] w-full h-[45%] lg:h-full object-cover">
        <div class="flex flex-col justify-center  gap-1.75">
          <h3 class="text-[#e0b69d] text-bold  lg:text-[16px]">درباره ما</h3>
          <h2 class="text-[#272523] text-[14px] xl:text-[20px]">درخشش متفاوت شما از <span
              class="text-[#d46d32]">اینجا</span> شروع می‌شود.</h2>
          <p class="text-[#948f8b] text-[12px] xl:text-[14px] text-justify p-2">
            با بهره‌گیری از جدیدترین ترندهای زیبایی، تکنیک‌های حرفه‌ای و محصولات باکیفیت، تلاش می‌کنیم بهترین خدمات را
            متناسب با سلیقه و نیاز شما ارائه دهیم. از کوتاهی و حالت‌دهی مو گرفته تا رنگ، مراقبت و خدمات تخصصی زیبایی،
            همه چیز با دقت و ظرافت انجام می‌شود.

            اینجا جایی است که می‌توانید برای چند ساعت از شلوغی روزمره فاصله بگیرید و با ظاهری زیباتر و حسی بهتر، سالن
            را
            ترک کنید.
          </p>
          <div class="flex flex-col gap-3 mt-5 ms-1">
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]">خدمات حرفه‌ای و تخصصی</p>
            </div>
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]">استفاده از محصولات باکیفیت</p>
            </div>
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]">محیط آرام و دلنشین</p>
            </div>
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]">پرسنل مجرب و حرفه‌ای</p>
            </div>
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]">مشاوره رایگان قبل از خدمات</p>
            </div>
            <div class="flex gap-2">
              <i class="fa-solid fa-check text-[#d46d32] "></i>
              <p class="text-[#948f8b] text-[12px]"> ارائه خدمات متناسب با سلیقه شما</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="w-full  lg:flex lg:flex-col gap-4 my-2 ">
      <div class="flex flex-col items-center gap-1.75">
        <h3 class="text-[#e0b69d] text-bold text-[14px]  lg:text-[18px]">محبوب ترین خدمات</h3>
        <h2 class="text-[#272523] text-[18px] lg:text-[24px]">محبوب ترین خدمات مشتریان ما</h2>

      </div>

      <div class="flex my-4 lg:mb-0 lg:grid lg:grid-cols-5 w-full gap-4 overflow-x-auto scrollbar-none">

        <div
          class="shrink-0 w-[60%] sm:w-[45%] md:w-[32%] lg:w-full h-[300px] sm:h-[320px] md:h-[300px] lg:h-[350px] border border-[#a59f9c]/50 rounded-[5px] flex flex-col items-center p-0.5">
          <img src="img/servicebaber/Eyelash/Eyelash.webp" alt="کاشت ابرو"
            class="w-full h-[70%] rounded-[5px] object-cover">
          <div class="flex-1 flex flex-col gap-2 items-center justify-center ">
            <p class="text-[#424040] text-[16px] lg:text-[17px]">کاشت ابرو</p>
            <p class="text-[#ec6868] text-[14px] lg:text-[15px] font-bold">10,400,000 تومان</p>
          </div>
        </div>

        <div
          class="shrink-0 w-[60%] sm:w-[45%] md:w-[32%] lg:w-full h-[300px] sm:h-[320px] md:h-[300px] lg:h-[350px] border border-[#a59f9c]/50 rounded-[5px] flex flex-col items-center p-0.5">
          <img src="img/servicebaber/hairCut/hair_cut.webp" alt="کوتاهی مو"
            class="w-full h-[70%] rounded-[5px] object-cover">
          <div class="flex-1 flex flex-col gap-2 items-center justify-center ">
            <p class="text-[#424040] text-[16px] lg:text-[17px]">کوتاهی مو</p>
            <p class="text-[#ec6868] text-[14px] lg:text-[15px] font-bold">{{500000 | number}} تومان</p>
          </div>
        </div>

        <div
          class="shrink-0 w-[60%] sm:w-[45%] md:w-[32%] lg:w-full h-[300px] sm:h-[320px] md:h-[300px] lg:h-[350px] border border-[#a59f9c]/50 rounded-[5px] flex flex-col items-center p-0.5">
          <img src="img/servicebaber/Facial/Facial.webp" alt="فیشال" class="w-full h-[70%] rounded-[5px] object-cover">
          <div class="flex-1 flex flex-col gap-2 items-center justify-center ">
            <p class="text-[#424040] text-[16px] lg:text-[17px]">فیشال</p>
            <p class="text-[#ec6868] text-[14px] lg:text-[15px] font-bold">{{3000000 | number}} تومان</p>
          </div>
        </div>

        <div
          class="shrink-0 w-[60%] sm:w-[45%] md:w-[32%] lg:w-full h-[300px] sm:h-[320px] md:h-[300px] lg:h-[350px] border border-[#a59f9c]/50 rounded-[5px] flex flex-col items-center p-0.5">
          <img src="img/servicebaber/Chignon/chignon.webp" alt="شینیون عروس"
            class="w-full h-[70%] rounded-[5px] object-cover">
          <div class="flex-1 flex flex-col gap-2 items-center justify-center ">
            <p class="text-[#424040] text-[16px] lg:text-[17px]">شینیون عروس</p>
            <p class="text-[#ec6868] text-[14px] lg:text-[15px] font-bold">{{20000000 | number}} تومان</p>
          </div>
        </div>

        <div
          class="shrink-0 w-[60%] sm:w-[45%] md:w-[32%] lg:w-full h-[300px] sm:h-[320px] md:h-[300px] lg:h-[350px] border border-[#a59f9c]/50 rounded-[5px] flex flex-col items-center p-0.5">
          <img src="img/servicebaber/nail/nail_image.webp" alt="کاشت ناخن"
            class="w-full h-[70%] rounded-[5px] object-cover">
          <div class="flex-1 flex flex-col gap-2 items-center justify-center ">
            <p class="text-[#424040] text-[16px] lg:text-[17px]">کاشت ناخن</p>
            <p class="text-[#ec6868] text-[14px] lg:text-[15px] font-bold">{{1400000 | number}} تومان</p>
          </div>
        </div>

      </div>


      <!-- //////////////////////// -->

      <div class="flex items-center gap-2 relative my-2 lg:my-0">

        <div (click)="scrollRight()"
          class="hidden  absolute -right-3.75 bg-[#faf1ea] rounded-[50%] w-7.5 h-7.5 lg:flex justify-center items-center">
          <i class="fa-solid fa-chevron-right cursor-pointer"></i>
        </div>

        <div class="flex gap-1 overflow-x-auto scrollbar-none" #scroll>
          <div
            class="w-[85%] sm:w-[65%] md:w-[45%] lg:w-[32%] shrink-0 h-fit bg-[#aeaba9]/30 p-2 lg:p-2.5 rounded-[10px] gap-3 flex flex-col justify-center">
            <i class="fa-solid fa-quote-right text-[#d38b55] text-[20px]"></i>
            <div class=" w-full mt-2">
              <p class="text-[#585857] w-full text-[12px] lg:text-[16px]">از میکاپ وشینیون بسیار راضی بودم،از خدمات
                خوبشون
                بسیار راضیت
                مندم.</p>
            </div>
            <div class="flex gap-2 items-center">
              <img src="img/page10.png" alt="" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-[50%] ms-2">
              <div class="flex flex-col gap-1">
                <p class="ms-2 text-[14px] lg:text-[16px]">مریم رضایی</p>
                <div>
                  @for (star of star; track $index) {

                  <i class="fa-solid fa-star text-[#d38b55] text-[12px] lg:text-[14px]"></i>
                  }
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[85%] sm:w-[65%] md:w-[45%] lg:w-[32%] shrink-0 h-fit bg-[#aeaba9]/30 p-2 lg:p-2.5 rounded-[10px] gap-3 flex flex-col justify-center">
            <i class="fa-solid fa-quote-right text-[#d38b55] text-[20px]"></i>
            <div class=" w-full mt-2">
              <p class="text-[#585857] w-full text-[12px] lg:text-[16px]">از میکاپ وشینیون بسیار راضی بودم،از خدمات
                خوبشون
                بسیار راضیت
                مندم.</p>
            </div>
            <div class="flex gap-2 items-center">
              <img src="img/page10.png" alt="" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-[50%] ms-2">
              <div class="flex flex-col gap-1">
                <p class="ms-2 text-[14px] lg:text-[16px]">مریم رضایی</p>
                <div>
                  @for (star of star; track $index) {

                  <i class="fa-solid fa-star text-[#d38b55] text-[12px] lg:text-[14px]"></i>
                  }
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[85%] sm:w-[65%] md:w-[45%] lg:w-[32%] shrink-0 h-fit bg-[#aeaba9]/30 p-2 lg:p-2.5 rounded-[10px] gap-3 flex flex-col justify-center ">
            <i class="fa-solid fa-quote-right text-[#d38b55] text-[20px]"></i>
            <div class=" w-full mt-2">
              <p class="text-[#585857] w-full text-[12px] lg:text-[16px]">از میکاپ وشینیون بسیار راضی بودم،از خدمات
                خوبشون
                بسیار راضیت
                مندم.</p>
            </div>
            <div class="flex gap-2 items-center">
              <img src="img/page10.png" alt="" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-[50%] ms-2">
              <div class="flex flex-col gap-1">
                <p class="ms-2 text-[14px] lg:text-[16px]">مریم رضایی</p>
                <div>
                  @for (star of star; track $index) {

                  <i class="fa-solid fa-star text-[#d38b55] text-[12px] lg:text-[14px]"></i>
                  }
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[85%] sm:w-[65%] md:w-[45%] lg:w-[32%] shrink-0 h-fit bg-[#aeaba9]/30 p-2 lg:p-2.5 rounded-[10px] gap-3 flex flex-col justify-center">
            <i class="fa-solid fa-quote-right text-[#d38b55] text-[20px]"></i>
            <div class=" w-full mt-2">
              <p class="text-[#585857] w-full text-[12px] lg:text-[16px]">از میکاپ وشینیون بسیار راضی بودم،از خدمات
                خوبشون
                بسیار راضیت
                مندم.</p>
            </div>
            <div class="flex gap-2 items-center">
              <img src="img/page10.png" alt="" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-[50%] ms-2">
              <div class="flex flex-col gap-1">
                <p class="ms-2 text-[14px] lg:text-[16px]">مریم رضایی</p>
                <div>
                  @for (star of star; track $index) {

                  <i class="fa-solid fa-star text-[#d38b55] text-[12px] lg:text-[14px]"></i>
                  }
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-[85%] sm:w-[65%] md:w-[45%] lg:w-[32%] shrink-0 h-fit bg-[#aeaba9]/30 p-2 lg:p-2.5 rounded-[10px] gap-3 flex flex-col justify-center">
            <i class="fa-solid fa-quote-right text-[#d38b55] text-[20px]"></i>
            <div class=" w-full mt-2">
              <p class="text-[#585857] w-full text-[12px] lg:text-[16px]">از میکاپ وشینیون بسیار راضی بودم،از خدمات
                خوبشون
                بسیار راضیت
                مندم.</p>
            </div>
            <div class="flex gap-2 items-center">
              <img src="img/page10.png" alt="" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-[50%] ms-2">
              <div class="flex flex-col gap-1">
                <p class="ms-2 text-[14px] lg:text-[16px]">مریم رضایی</p>
                <div>
                  @for (star of star; track $index) {

                  <i class="fa-solid fa-star text-[#d38b55] text-[12px] lg:text-[14px]"></i>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div (click)="scrollLeft()"
          class="hidden  absolute -left-3.75 bg-[#faf1ea] rounded-[50%] w-7.5 h-7.5 lg:flex justify-center items-center">
          <i class=" fa-solid fa-chevron-left cursor-pointer"></i>
        </div>
      </div>
      <div class="text-center text-[12px] text-[#b2847f] lg:hidden my-2.5 lg:my-0">مشاهده بیشتر نظرات
        <i class="fa-solid fa-arrow-left text-[10px]"></i>
      </div>
      <!-- //////////////////////////////////// -->
      <div
        class="bg-[#b28884] lg:h-37.5 w-full flex overflow-hidden items-center justify-between  rounded-[5px] p-3 lg:pe-3 lg:p-0 ">
        <div class="lg:w-[30%] hidden lg:flex justify-center">
          <img src="img/babershop_two.png" alt="" class="w-full object-cover">
        </div>
        <div class="flex flex-col gap-1 lg:gap-2">
          <h3 class="text-[#fefefe] text-[12px] lg:text-[25px] font-bold">برای زیبایی خود وقت بگذارید</h3>
          <p class="text-[#fefefe] text-[10px] lg:text-[12px]">همین حالا نوبت را رزرو کنید<span
              class="hidden md:inline">و
              تجربه ای
              متفاوت از زیبایی را احساس کنید</span>
        </div>
        <div class="flex gap-2 ">
          <button
            class="text-[#fefefe] border border-[#fefefe]/50 hidden md:block rounded-[5px] p-3 hover:bg-[#fefefe] hover:text-[#b28884] cursor-pointer"><i
              class="fa-solid fa-phone"></i>0913252525</button>
          <button
            class="hover:bg-[#fefefe] hover:text-[#b28884] hidden md:block text-[#fefefe] border border-[#fefefe]/50 rounded-[5px] p-3 cursor-pointer"><i
              class="fa-solid fa-calendar-days "></i>رزرو نوبت</button>


        </div>
        <div class="md:hidden"> <i class="fa-solid fa-calendar-days text-[#fefefe] text-[25px]"></i></div>
        <div class="md:hidden bg-[#bb746e] p-1.5 rounded-[50%]"> <i
            class="fa-solid fa-chevron-left text-[#fefefe] text-[25px]"></i></div>

      </div>
      <!-- //////////////////////////////////////////////// -->
     
      <!-- ////////////////////////////////////////////////// -->
      <div class=" mt-10 fixed bottom-0 left-0 right-0 z-50 mx-auto w-full max-w-lg md:hidden
         bg-white border-t border-gray-100 shadow-[0_-5px_25px_rgba(0,0,0,0.08)]
         ">
        <div class="relative h-[82px] flex items-center justify-around px-3">

          <!-- خانه -->
          <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-solid fa-house text-[22px]"></i>
            <span class="text-[12px] font-semibold">خانه</span>
          </button>

          <!-- خدمات -->
          <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-solid fa-grip text-[22px]"></i>
            <span class="text-[12px]">خدمات</span>
          </button>


          <!-- جای خالی برای دکمه وسط -->
          <div class="w-16"></div>


          <!-- گالری -->
          <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-regular fa-image text-[22px]"></i>
            <span class="text-[12px]">گالری</span>
          </button>

          <!-- درباره ما -->
          <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-regular fa-user text-[22px]"></i>
            <span class="text-[12px]">درباره ما</span>
          </button>


          <!-- دکمه رزرو نوبت وسط -->
          <button class="absolute left-1/2 -translate-x-1/2 -top-7
             flex flex-col items-center">
            <div class="w-[58px] h-[58px] rounded-full
               bg-[#a9655d] text-white
               flex items-center justify-center
               border-[4px] border-white
               shadow-[0_8px_20px_rgba(169,101,93,0.35)]">
              <i class="fa-regular fa-calendar-days text-[24px]"></i>
            </div>

            <span class="mt-1 whitespace-nowrap text-[12px] font-semibold text-[#a9655d]">
              رزرو نوبت
            </span>
          </button>

        </div>
      </div>
      <div class="h-[70px] md:hidden"></div>
    </div>
  </div>
</div>