<p-toast position="top-left"></p-toast>
<div class="max-w-dvw  h-dvh  py-5  flex justify-center relative">
    <img src="img/publicImage/bg_page.jpg" alt="header_img"
        class="h-full w-full   absolute object-cover top-0 left-0 z-[-5]">
         <div class="block absolute inset-0
            bg-[rgba(0,0,0,0.05)] w-full h-full
             z-10"></div>
    <div class=" z-100  absolute w-full md:w-[50%] flex flex-col  p-5  mt-[100px]">
        @if(currentStep==1){
        <div
            class="bg-white/70 backdrop-blur-lg  w-[95%] shadow-[0_8px_30px_rgba(0,0,0,0.06)] p-3 lg:p-10 rounded-[5px] border border-[#e0d9d9]/20">
            <!-- /////////////////////////////////////// -->
            <div class=" w-full flex flex-col items-center gap-2 relative">
                <h2 class="text-[14px] lg:text-xl text-[#1e1e1d]">بازیابی رمز عبور</h2>
                <div class="flex items-center justify-center gap-1 w-[50%]">
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                    <div class=" w-2 h-2 bg-[#a35554] rounded-[50%]"></div>
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                </div>
                <p class="text-[#878687] text-[10px] lg:text-[12px]">لطفا شماره تلفن خود را وارد کنید</p>
            </div>
            <!-- ////////////////////////////////////////////////////////////// -->
            <form [formGroup]="form" (ngSubmit)="sendOtp()" class="w-full p-6 flex flex-col items-center  gap-3">
                <div class="w-full">
                    <label class="text-[#070808] text-[12px] lg:text-[16px] flex items-center gap-0.5">شماره
                        موبایل</label>
                    <div class="focus-within:border-[#a35554]  border border-[#a3a2a2] rounded-[5px] p-3 flex gap-2 items-center mt-1">

                        <input type="text" placeholder="شماره موبایل را وارد کنید"
                            class="outline-none w-full placeholder:text-[#a3a2a2] text-[10px] lg:text-[12px]"
                            inputmode="numeric" (input)="onlyNumbers($event)" formControlName="phone">
                        <i class="fa-solid fa-phone text-[#8d8585] text-[13px] lg:text-[18px]"></i>
                    </div>

                </div>
                
                <button [disabled]="form.invalid"
                    class="border text-[12px] lg:text-[14px] p-2 rounded-[5px] mt-4 w-full lg:w-[20%] cursor-pointer bg-[#a35554] text-[#fefefe] transform hover:scale-[1.01] outline-none disabled:opacity-50">
                    ارسال</button>
            </form>
            <!-- ////////////////////////////// -->

        </div>
        }

        <!-- ////////////////////////////////////////////// -->
        @else if(currentStep==2){
        <div
            class="bg-[#fefefe]/50  w-[95%] shadow-[0_8px_30px_rgba(0,0,0,0.06)] p-3 lg:p-10 rounded-[5px] border border-[#e0d9d9]/20">
            <!-- /////////////////////////////////////// -->
            <div class=" w-full flex flex-col items-center gap-2 relative">
                <h2 class="text-[14px] lg:text-xl text-[#1e1e1d]">بازیابی رمز عبور</h2>
                <div class="flex items-center justify-center gap-1 w-[50%]">
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                    <div class=" w-2 h-2 bg-[#a35554] rounded-[50%]"></div>
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                </div>
                <p class="text-[#878687] text-[10px] lg:text-[12px]">کد تأیید برای شما ارسال شد. لطفاً کد را وارد کنید.
                </p>
            </div>
            <!-- ////////////////////////////////////////////////////////////// -->
            <form [formGroup]="formverificationCode" (ngSubmit)="verificationCode()"
                class="w-full p-6 flex flex-col items-center  gap-3">
                <div class="w-full">
                    <label class="text-[#070808] text-[12px] lg:text-[16px] flex items-center gap-0.5">تأیید کد
                    </label>
                    <div class="focus-within:border-[#a35554]  border border-[#a3a2a2] rounded-[5px] p-3 flex gap-2 items-center mt-1">

                        <input type="text" placeholder="کد تأیید را وارد کنید."
                            class="outline-none w-full placeholder:text-[#c1c2c2] text-[10px] lg:text-[12px]"
                            inputmode="numeric" (input)="onlyNumbers($event)" formControlName="code">
                        <i class="fa-solid fa-key text-[#8d8585] text-[13px] lg:text-[18px]"></i>
                    </div>

                </div>
                <button [disabled]="formverificationCode.invalid"
                    class="border text-[12px] lg:text-[14px] p-2 rounded-[5px] mt-4 w-full lg:w-[20%] cursor-pointer bg-[#a35554] text-[#fefefe] transform hover:scale-[1.01] outline-none disabled:opacity-50">
                    ارسال</button>
            </form>
            <hr class="text-[#dad8da] h-2.5 w-[95%]  flex justify-center mt-5">
            <div>
                @if(timer() > 0){
                <p class="text-[12px] lg:text-[14px]  text-[#888585] cursor-pointer">دریافت
                    دوباره کد در {{ timer() }} ثانیه</p>
                }@else{
                <p class="text-[12px] lg:text-[14px] text-red-800 cursor-pointer" (click)="sendOtp()">دریافت دوباره کد
                </p>
                }

            </div>
            <!-- ////////////////////////////// -->

        </div>
        }
        <!-- ////////////////////////////////////////////// -->
        @else if(currentStep==3){

        <div
            class="bg-white/70 backdrop-blur-lg w-[95%] shadow-[0_8px_30px_rgba(0,0,0,0.06)] p-3 lg:p-10 rounded-[5px] border border-[#e0d9d9]/20">
            <!-- /////////////////////////////////////// -->
            <div class=" w-full flex flex-col items-center gap-2 relative">
                <h2 class="text-[14px] lg:text-xl text-[#1e1e1d]">تغییر رمز عبور</h2>
                <div class="flex items-center justify-center gap-1 w-[50%]">
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                    <div class=" w-2 h-2 bg-[#a35554] rounded-[50%]"></div>
                    <div class="h-0.5 w-[20%] lg:w-[10%] bg-[#a35554] rounded-[5px]"></div>
                </div>
                <p class="text-[#878687] text-[10px] lg:text-[12px]">رمز عبور جدید خود را وارد و برای تأیید دوباره تکرار
                    کنید.</p>
            </div>
            <!-- ////////////////////////////////////////////////////////////// -->
            <form [formGroup]="formChangePassword" (ngSubmit)="onSubmitChange()"
                class="w-full p-6 flex flex-col items-center  gap-3">
                <div class="w-full">
                    <label class="text-[#070808] text-[12px] lg:text-[16px] flex items-center gap-0.5">رمز عبور
                    </label>
                    <div class="focus-within:border-[#a35554] border justify-between  rounded-[5px] p-3 flex gap-2 items-center mt-1" [ngClass]="
  formChangePassword.get('password')?.invalid && formChangePassword.get('password')?.touched
    ? 'border-red-500'
    : 'border-[#a3a2a2]'">
                        <div class="flex">
                            <i class="fa-solid fa-lock text-[#8d8585] text-[13px] lg:text-[18px]" ></i>
                            <input [type]="showPassword?'password':'text'" placeholder="رمز جدید را وارد کنید"
                                class="outline-none placeholder:text-[#a3a2a2] text-[10px] lg:text-[12px]"
                                formControlName="password">
                        </div>
                        <i class="fa-solid  text-[#8d8585] text-[13px] lg:text-[18px]" [ngClass]="showPassword?'fa-eye-slash':'fa-eye'"
                            (click)="toggleItemPassword()"></i>
                    </div>
                    <div>
                        @if (formChangePassword.get('password')?.invalid && formChangePassword.get('password')?.touched)
                        {
                        @if(formChangePassword.get('password')?.hasError('required')){
                        <p class="text-red-600 text-[10px] lg:text-[12px] mt-2">فیلد اجباری است</p>
                        }
                        @else if(formChangePassword.get('password')?.hasError('pattern')){
                        <p class="text-red-600 text-[10px] lg:text-[12px] mt-2">رمز عبور باید 8 رقم که شامل حروف و عدد و
                            کاراکتر خاص
                            باشد</p>
                        }

                        }
                    </div>
                </div>

                <div class="w-full">
                    <label class="text-[#070808] text-[12px] lg:text-[16px] flex items-center gap-0.5">تکرار رمز عبور
                    </label>
                    <div class="focus-within:border-[#a35554]  border  justify-between  rounded-[5px] p-3 flex gap-2 items-center mt-1" [ngClass]="
  formChangePassword.get('confirmPassword')?.invalid && formChangePassword.get('confirmPassword')?.touched
    ? 'border-red-500'
    : 'border-[#a3a2a2]'">
                        <div class="flex">
                            <i class="fa-solid fa-lock text-[#8d8585] text-[13px] lg:text-[18px]"></i>
                            <input [type]="showPasswordRepeat?'password':'text'" placeholder="رمز  جدید را تکرار کنید"
                                class="outline-none placeholder:text-[#c1c2c2] text-[10px] lg:text-[12px]"
                                formControlName="confirmPassword">
                        </div>
                        <i class="fa-solid   text-[#a3a2a2] text-[13px] lg:text-[18px]" [ngClass]="showPasswordRepeat?'fa-eye-slash':'fa-eye'"
                            (click)="toggleItemPasswordRepeat()"></i>
                    </div>
                    <div>
                        @if (formChangePassword.get('confirmPassword')?.touched ) {

                        @if (formChangePassword.get('confirmPassword')?.hasError('required')) {

                        <p class="text-red-600 text-[10px] lg:text-[12px] mt-2">
                            فیلد اجباری است
                        </p>

                        } @else if (formChangePassword.hasError('passwordMismatch')) {

                        <p class="text-red-600 text-[10px] lg:text-[12px] mt-2">
                            رمز عبور با تکرار رمز عبور مطابقت ندارد
                        </p>

                        }

                        }
                    </div>
                </div>
                <button
                    class="border p-2 text-[12px] lg:text-[14px] rounded-[5px] mt-4 w-full lg:w-[20%] cursor-pointer bg-[#a35554] text-[#fefefe] transform hover:scale-[1.01] outline-none disabled:opacity-50">
                    تغییر رمز</button>
            </form>
            <!-- ////////////////////////////// -->

        </div>



        }



    </div>
</div>