
                <div class="self-start sticky top-30 hidden md:block">

                    <h2 class="text-[20px]">دسته بندی خدمات</h2>
                    <div class="flex flex-col gap-2 shadow-sm rounded-[5px] w-[90%] lg:w-[75%] mt-4 ">
                        <div
                            class="flex w-full items-center justify-between  p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md" [ngClass]="active=='brow'? 'bg-[#e0cece]':'bg-white'">

                           
                            <div class="flex items-center gap-2 ">

                                <i class="fa-regular fa-eye text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    خدمات ابرو
                                </p>

                            </div>

                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-kiss-wink-heart text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    میکاپ
                                </p>

                            </div>

                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-person text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    فیشال
                                </p>

                            </div>

                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-scissors text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    کوتاهی واصلاح
                                </p>

                            </div>

                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-crown text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    شینیون
                                </p>

                            </div>

                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-wand-magic-sparkles text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    تراپی واحیا مو
                                </p>

                            </div>


                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                        <div
                            class="flex w-full items-center justify-between bg-white p-3.5 transition-all duration-300 hover:border-[#b88989] hover:shadow-md">

                           
                            <div class="flex items-center gap-2">

                                <i class="fa-solid fa-hand-sparkles text-[13px] text-[#b88989]"></i>

                                <p class="text-[13px] font-medium text-[#4b4545]">
                                    خدمات ناخن
                                </p>

                            </div>


                          
                            <i class="fa-solid fa-chevron-left
               text-[10px] text-[#b88989]
               transition-transform duration-300
               group-hover:-translate-x-1"></i>

                        </div>
                    </div>

                </div>
            

