/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
    font-family: 'vazir';
    src: url('../public/font/Vazir-Medium-FD-WOL.ttf') format('truetype'),
        url('../public/font/Vazir-Medium-FD-WOL.woff') format('woff');
}
body,h2,p,span{
    font-family: 'vazir';
}