<div
    class="hidden md:grid grid-cols-[2fr_1fr_1fr_1fr] justify-center bg-[#faf1ea]  w-full   p-4 transition-all duration-500 mt-2  ">
    <div class="justify-center items-center   flex flex-col ">
        <div class="flex items-center w-full">
            <img src="img/header.png" alt="header_img" class="w-[40%] lg:w-[30%] object-cover mt-1.5 md:mt-0 lg:mt-1.5">
            <div class="me-4">
                <p class="text-[#99605b] text-[12px] lg:text-[18px] xl:text-[22px]">زیبایی آرینا</p>
                <p class="text-[#e7a499] text-[10px] lg:text-[14px]">سالن زیبایی</p>
            </div>
        </div>
        <p class="text-[12px] w-[230px]  text-[#858382] ">اراده دهنده خدمات زیبایی با بهترین کیفیت در محیط آرام و
            لوکس</p>

    </div>
    <div>
        <h2 class="text-[#2c2c2c]">دسترسی سریع</h2>
        <ul class="text-[12px] text-[#817a7a] cursor-pointer flex flex-col gap-2">
            <li>صفخه اصلی</li>
            <li>خدمات </li>
            <li>گالری</li>
            <li>درباره ما</li>
            <li>تماس باما</li>
        </ul>
    </div>
    <div>
        <h2 class="text-[#2c2c2c]">خدمات ما</h2>
        <ul class="text-[12px] text-[#817a7a] cursor-pointer flex flex-col gap-2 items-start">
            <li>کوتاهی و حالت دهی مو</li>
            <li>میکاپ حرفه ای</li>
            <li>خدمات ناخن</li>
            <li>خدمات ابرو</li>
            <li>پوست و صورت</li>
        </ul>
    </div>
    <div>
        <h2 class="text-[#2c2c2c]">تماس با ما</h2>
        <ul class="text-[12px] text-[#817a7a] cursor-pointer flex flex-col gap-2">
            <li>همه روزه از 8صبح تا9 شب</li>
            <li>شماره تماس:0913252525</li>


        </ul>
    </div>


</div>
<!-- ///////////////// -->
<div class=" mt-10 fixed bottom-0 left-0 right-0 z-50 mx-auto w-full max-w-lg md:hidden
         bg-white border-t border-gray-100 shadow-[0_-5px_25px_rgba(0,0,0,0.08)]
         ">
    <div class="relative h-[82px] flex items-center justify-around px-3">

        <!-- خانه -->
        <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-solid fa-house text-[22px]"></i>
            <span class="text-[12px] font-semibold">خانه</span>
        </button>

        <!-- خدمات -->
        <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-solid fa-grip text-[22px]"></i>
            <span class="text-[12px]">خدمات</span>
        </button>


        <!-- جای خالی برای دکمه وسط -->
        <div class="w-16"></div>


        <!-- گالری -->
        <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-regular fa-image text-[22px]"></i>
            <span class="text-[12px]">گالری</span>
        </button>

        <!-- درباره ما -->
        <button class="flex flex-col items-center gap-1 text-gray-500">
            <i class="fa-regular fa-user text-[22px]"></i>
            <span class="text-[12px]">درباره ما</span>
        </button>


        <!-- دکمه رزرو نوبت وسط -->
        <button class="absolute left-1/2 -translate-x-1/2 -top-7
             flex flex-col items-center">
            <div class="w-[58px] h-[58px] rounded-full
               bg-[#a9655d] text-white
               flex items-center justify-center
               border-[4px] border-white
               shadow-[0_8px_20px_rgba(169,101,93,0.35)]">
                <i class="fa-regular fa-calendar-days text-[24px]"></i>
            </div>

            <span class="mt-1 whitespace-nowrap text-[12px] font-semibold text-[#a9655d]">
                رزرو نوبت
            </span>
        </button>

    </div>
</div>
<div class="h-[70px] md:hidden"></div>